*{
	padding:0;
	margin:0;
}
.personalpage {
	position: absolute;
	width:20%;
	height:80%;
	top:20%;
	left:0;
	z-index: 100;
	border:1px solid;
}
.buyerComment {
	position: absolute;
	top:20%;
	width:70%;
	height:80%;
	right:5%;
	padding: 0;

}
.buyerComment .commentbox {
	width:100%;
	height:100%;
}
.buyerComment .commentbox button {
	height:5%;
	width:8%;
	font-size: 15px;
}

