*{
	margin:0;
	padding:0;
}
.display ul {
	position: relative;
	width:100%;
}
.display ul li {
	display: inline;
}
.display ul li img{
	float:left;
	height:100px;
	width:10%;
	margin-left: 2%;
	margin-top: 0;
}