*{
	padding:0;
	margin:0;
}
p {
	color:#00FFFF;
	font-size:40px;
	padding-bottom: 0.5%;
	padding-top: 1%;
	margin-left: 3%;

}
hr {
	margin-left: 3%;
	margin-right: 3%;
}
.login {
    position: absolute;
    right:10%;
    bottom:5%;
    border:1px solid;
    height:70%;
    width:30%;
}
.login input:nth-of-type(1) {
	display: block;
	margin-top:5%;
	margin-left: 10%;
	height:10%;
	width:80%;
}
.login label:nth-of-type(1){
	display: block;
	margin-top: 20%;
	margin-left: 43%;
}
.login input:nth-of-type(2){
	display:block;
	margin-top: 5%;
	margin-left: 10%;
	height:10%;
	width:80%;
}
.login label:nth-of-type(2){
	display: block;
	margin-top: 10%;
	margin-left: 45%;
}
img {
	height:75%;
	width:35%;
	margin-top:8%;
	margin-left: 12%;
}
.tip {
	
	margin-left:20%;
}

.tip p{
	display: inline-block;
	color:grey;
	font-size: 20px;
}
button {
	margin-top:13%; 
	margin-left: 10%;
	height:10%;
	width:80%;
	font-size: 20px;
}